@model WarehouseMonitoring.Models.Room

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Room</h2>
 <div class="form-wrapper">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group2">
                <label asp-for="Name"></label>
                <span class="red">*</span>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger2"></span>
            </div>
            <div class="form-group2">
                <label asp-for="IsRoomUse" ></label>

                @Html.CheckBox("IsRoomUse")
                <span asp-validation-for="IsRoomUse" class="text-danger2"></span>
            </div>
            <div class="form-group">
                 <input type="submit" value="Update" class="submit" />
                <input type="reset" value="Reset" class="reset" />
            </div>
        </form>
    </div>
            <div class="d-flex justify-content-center">
                <a asp-action="Index" class="btn btn-info2" >Back</a>
            </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
