@model IEnumerable<WarehouseMonitoring.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-info1">Create New</a>
</p>
<table class="table" id="tdesig">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
             <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" class="btn edit" asp-route-id="@item.Id">Edit</a> 
                <a asp-action="Delete"  class="btn delete" asp-route-id="@item.Id">Delete </a>
            </td>
        </tr>
}
    </tbody>
</table>
